<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="dev.nikhi1.eventbrite.onboarding">

    <dist:module
        dist:title="@string/title_onboarding">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>

    </application>

</manifest>
